<div class="row">
  <!-- <div class="span6 offset3"> -->
  
<!--   <div class="search"> 
      <form role="Enter Location">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter Location">
          </div>
      </form>
  </div>  -->
  <h1 class="center"> Cause you can be hungry 24 hours a day</h1>

  <br/><br/><h2 class="center"> Sign into your account </h2><br/>

  <div class="box">
  <%= form_for(:session, url: signin_path) do |f| %>
      <br>
      <div class="form-group">
        <span class="new_input"><%= f.text_field :email, :placeholder => "Enter Email", style: "width:100%;" %><br/></span>
      </div> 


      <div class="form-group">

        <span class="new_input"><%= f.password_field :password, :placeholder => "Enter Password", style: "width:100%;" %><br/></span>

      </div>

      <%= f.submit "Sign In", class: "btn btn-large btn-primary" %>
  <% end %>
  <p style="clear:both;"><%= link_to "New user?", signup_path %></p> 
  </div> 

</div> 
