<h1>Name: <%= @favorite.name %></h1>
<h1>Description: <%= @favorite.description %></h1>
<hr/>

<%=render 'eateries/show'%>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<br/><br/>
<p><%= link_to "See Eateries Close to Me", eateries_path %></p>
<p><%= link_to "See All Favorites", favorites_path %> <p>
<br/><br/>

</div>