<h1><%= @user.email %></h1>
<p><%= link_to "Edit", edit_user_path %></p>
<p><%= link_to "Delete Your Account", @user, method: 'delete' %></p>
<p><%= link_to "See Eateries Close to Me", eateries_path %></p>
<p><%= link_to "Sign Out", signout_path , method: "delete" %><p> 

