    <!-- Show Eatery you are favoriting -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="font-size:40px">
      <div>
          <%= @eatery.name %> 
          <br/>
          <%= link_to(@eatery.website, target: '_blank') do %>
            <%= image_tag(@eatery.image_url, width: '100%', alt: 'Image Url') %>
          <% end %>
          <br/>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div>
        <strong>Address:</strong>
        <p> <%= @eatery.address %> </p>
        <br>
        <iframe src=<%= @eatery.map_url %>> </iframe>
        </div>
        <br/>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4">
        <div>
          <strong>Phone Number:</strong>
          <%= @eatery.phone_num %>
          <br>
        </div>
    </div>
    
    <div class="col-xs-6 col-sm-4 col-md-4">
      <div>
         <strong>Rating:</strong>
          <% if @eatery.rating.to_i > 0 %> 
            <% @eatery.rating.to_i.times do |i| %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %> 
          <% else %>
            No Rating
          <% end %>
        </div>
      </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <div>
          <strong>Drive Thru:</strong>
           <% if @eatery.drive_thru %> 
            Yes
           <% else %>
            No
           <% end %>
      </div>
    </div>
    <br/>
    <!-- End Show Eatery you are favoriting -->