
<h1> Eateries </h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Lat Long</th>
      <th>Phone Number</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @eateries.each do |eatery| %>
      <tr>
        <td><%= eatery.name %></td>
        <td><%= eatery.address %></td>
        <td><%= eatery.lat_long %></td>
        <td><%= eatery.phone_num %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create New Eatery', eateries_new_path %>