 

<h1 class="main"> Eateries </h1> 

<table class="table col-md-9 table-hover">

  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th class="pic_text"> Picture </th>
      <th><%= sortable "address" %></th>
      <th><%= sortable "phone_num" %></th>
      <th><%= sortable "website" %></th>
      <th><%= sortable "rating" %></th>
      <th><%= sortable "drive_thru" %></th>
      <th><%= sortable "lobby_hours" %></th>
      <th><%= sortable "lat" %></th>
      <th><%= sortable "long" %></th>
      <th colspan="9"></th>   
    </tr>
  </thead>

  <tbody>
    <% @eateries.each do |eatery| %>
      <tr>
        <td><%= eatery.name %></td>
        <td><img src=<%= eatery.image_url %>></td> 
        <td><%= eatery.address %></td>
        <td><%= eatery.phone_num %></td>
        <td><%= eatery.website %></td>
        <td><%= eatery.rating %></td>
        <td><%= eatery.drive_thru %></td>
        <td><%= eatery.lobby_hours %></td>
        <td><%= eatery.lat %></td>
        <td><%= eatery.long %></td>
        <td><%= link_to "View", eatery %></td>
        <td><%= link_to "Edit", edit_eatery_path(eatery) %></td>
        <td><%= link_to "Favorite", new_favorite_path(eatery) %></td>
      </tr>
    <% end %>
  </tbody>

</table>


<p><%= link_to "New", new_eatery_path, class: "" %></p>
<p><%= link_to "My Account", signin_path %></p>
<p><%= link_to "Sign Out", signout_path , method: "delete" %><p> 





