<html>
  <table>
    
    
   


    <thead>
      <title class="main">Midnight Munchies</title>
     
<div class="row">
  <div class="col-md-9 col-md-push-3">.col-md-9 .col-md-push-3</div>
  <div class="col-md-3 col-md-pull-9">.col-md-3 .col-md-pull-9</div>
</div>    
       <h1 class="main"> Eateries </h1> 




    <div class="push"></div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Picture</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Website</th>
      <th>Rating</th>
      <th>Drive Thru</th>
      <th>Lobby Hours</th>
      <th>Lat</th>
      <th>Long</th>
      <th colspan="9"></th>   
    </tr>
  </thead>

  <tbody>
    <% @eateries.each do |eatery| %>
      <tr>
        <td><%= eatery.name %></td>

        <td><%= eatery.address %></td>
        <td><img src=<%= eatery.image_url %>></td> 
        <td><%= eatery.lat %></td>
        <td><%= eatery.long %></td>
        <td><%= eatery.phone_num %></td>
        <td><%= eatery.website %></td>
        <td><%= eatery.rating %></td>
        <td><%= eatery.drive_thru %></td>
        <td><%= eatery.lobby_hours %></td>
        <td><%= link_to "Show", eatery %></td>
        <td><%= link_to "Edit", edit_eatery_path(eatery) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


    <%= link_to "New", new_eatery_path %>

    <%= link_to "Sign In", signin_path %>

<html>
 




