
<h1> Eateries </h1> 

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Website</th>
      <th>Rating</th>
      <th>Drive Thru</th>
      <th>Lobby Hours</th>
      <th>Lat</th>
      <th>Long</th>
      <th colspan="9"></th>   
    </tr>
  </thead>

  <tbody>
    <% @eateries.each do |eatery| %>
      <tr>
        <td><%= eatery.name %></td>
        <td><%= eatery.address %></td>
        <td><%= eatery.lat %></td>
        <td><%= eatery.long %></td>
        <td><%= eatery.phone_num %></td>
        <td><%= eatery.website %></td>
        <td><%= eatery.rating %></td>
        <td><%= eatery.drive_thru %></td>
        <td><%= eatery.lobby_hours %></td>
        <%= link_to "Eatery Profile", eatery %>
        <%= link_to "Edit", edit_eatery_path(eatery) %>
      </tr>
    <% end %>
  </tbody>
</table>

  
  <%= link_to "New", new_eatery_path %>

