 

<h1 class="main"> Eateries </h1> 

<%= form_tag eateries_path, :method => 'get' do %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
  <p class="search">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div class="table-responsive">
  <table class="table table-hover" width="100%">

    <thead>
      <tr>
        <th><%= sortable "name" %><span class="caret"></span></th>
        <th><%= sortable "address" %><span class="caret"></span></th>
        <th><%= sortable "phone_num" %><span class="caret"></span></th>
        <th><%= sortable "rating" %><span class="caret"></span></th>
        <th><%= sortable "drive_thru" %><span class="caret"></span></th>

        <th colspan="9"></th>   

      </tr>
    </thead>

    <tbody>
      <% @eateries.each do |eatery| %>
        <tr class= "tBody">
          <td>
            <%= link_to(eatery) do %>
              <%= eatery.name %>
              <p><img class="eatery-logo" src=<%= eatery.image_url %>></p>
            <% end %>
          </td> 
          <td><%= eatery.address %></td>
          <td><%= eatery.phone_num %></td>
          <td>
              <% if eatery.rating.to_i > 0 %> 
                <% eatery.rating.to_i.times do |i| %>
                  s
                <% end %> 
              <% else %>
                No Rating
              <% end %>
          </td>
          <td>
             <% if eatery.drive_thru %> 
              Yes
             <% else %>
              No
             <% end %>
          </td>
          <td><%= link_to "View", eatery %></td>
          <td><%= link_to "Edit", edit_eatery_path(eatery) %></td>
          <td><%= link_to "Favorite", new_favorite_path(eatery) %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>


<p><%= link_to "New", new_eatery_path, class: "" %></p>
<p><%= link_to "My Account", signin_path %></p>
<p><%= link_to "Sign Out", signout_path , method: "delete" %><p> 





