
<h1> Eateries </h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Website</th>
      <th>Rating</th>
      <th>Drive Thru</th>
      <th>Lobby Hours</th>
      <th>Lat</th>
      <th>Long</th>
      <th colspan="9"></th>   
    </tr>
  </thead>

  <tbody>
    <% @eateries.each do |eatery| %>
      <tr>
        <td><%= eatery.name %></td>
        <td><%= eatery.address %></td>
        <td><%= eatery.lat %></td>
        <td><%= eatery.long %></td>
        <td><%= eatery.phone_num %></td>
        <td><%= eatery.website %></td>
        <td><%= eatery.rating %></td>
        <td><%= eatery.drive_thru %></td>
        <td><%= eatery.lobby_hours %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create New Eatery', eateries_new_path %>


Eatery(id: integer, name: string, address: string, phone_num: string, image_url: string, website: string, rating: float, drive_thru: boolean, created_at: datetime, updated_at: datetime, lat: float, long: float, lobby_hours: string) 
2.1.2 :004