<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @eatery.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @eatery.address %>
</p>

<p>
  <strong>Lat long:</strong>
  <%= @eatery.lat_long %>
</p>

<p>
  <strong>Phone num:</strong>
  <%= @eatery.phone_num %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @eatery.hours %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @eatery.image_url %>
</p>

<p>
  <strong>Website:</strong>
  <%= @eatery.website %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @eatery.cost %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @eatery.rating %>
</p>

<p>
  <strong>Type food:</strong>
  <%= @eatery.type_food %>
</p>

<p>
  <strong>Drive thru:</strong>
  <%= @eatery.drive_thru %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @eatery.delivery %>
</p>

<p>
  <strong>Market:</strong>
  <%= @eatery.market %>
</p>

<p>
  <strong>Reviews:</strong>
  <%= @eatery.reviews %>
</p>

<p>
  <strong>Pop items:</strong>
  <%= @eatery.pop_items %>
</p>

<%= link_to 'Edit', edit_eatery_path(@eatery) %> |
<%= link_to 'Back', eateries_path %>
