<h1>SHOW BABY</h1>

	
	<p>
	    <strong>Picture:</strong>
	    <p> <img src=<%= @eatery.image_url %>> </p>
	    <br>
  	<p>
	<p>
	    <strong>Name:</strong>
	    <p> <%= @eatery.name %> </p>
	    <br>
  	<p>
  	<p>
	    <strong>Address:</strong>
	    <p> <%= @eatery.address %> </p>
	    <br>
  	<p>
  	<p>
	    <strong>Phone Number:</strong>
	    <p> <%= @eatery.phone_num %> </p>
	    <br>
  	<p>
  	<p>
	    <strong>Website:</strong>
	    <p> <%= @eatery.website %> </p>
	    <br>
  	<p>
  	<p>
	    <strong>Rating:</strong>
	    <p> <%= @eatery.rating %> </p>
	    <br>
  	<p>
  	<p>
	    <strong>Drive Thru:</strong>
	    <p> <%= @eatery.drive_thru %> </p>
	    <br>
  	<p>
  	<p>
	    <strong>Lobby Hours:</strong>
	    <p> <%= @eatery.lobby_hours %> </p>
	    <br>
  	<p>
  	<p>
	    <strong>Lat:</strong>
	    <p> <%= @eatery.lat %> </p>
	    <br>
  	<p>
  	<p>
	    <strong>Long:</strong>
	    <p> <%= @eatery.long %> </p>
	    <br>
  	<p>




	


<p><%= link_to "Edit", edit_eatery_path %></p>
<p><%= link_to "Edit Eatery", edit_eatery_path %></p>
<p><%= link_to "Index", eateries_path %></p>
<p><%= link_to "Delete", @eatery, method: "delete" %></p>
