
<nav class="navbar3">
	<button class="btn">
	<div class="back"><%= link_to "", eateries_path,class: "back glyphicon glyphicon-chevron-left" %></div>
	</button>
	<div class="hours name">
	    <strong><%= @eatery.name %></strong> 
	    <br>
  	</div>
  	<div class="hours">
	    <img src=<%= @eatery.image_url %>>
	    <br>
  	</div>
  	<div class="hours">
	    <strong>Website:</strong>
	     <%= @eatery.website %> 
	    <br>
  	</div>
  	<div class="hours">
	    <strong>Phone Number:</strong>
	    <%= @eatery.phone_num %>
	    <br>
  	</div>
 </nav>
	<nav class="navbar2"> 

		<div class="hours">
			<strong>Lobby Hours:</strong>
			<p> <%= @eatery.lobby_hours %> </p>
		    <br>
	   </div>
	 	<div class="hours">
		   <strong>Rating:</strong>
		    <%= @eatery.rating %> 
		   <br>
	  	</div>
		<div class="hours">
		    <strong>Drive Thru:</strong>
		     <%= @eatery.drive_thru %> 
		    <br>
	  	</div>
	</nav>

	
	
  	<div class="map">
		<button class="google">Hi</button>
	    <br/>
	    <div style="clear:both; text-align:center;">
	    <strong>Address:</strong>
	    <p> <%= @eatery.address %> </p>
	    <br>
	    </div>
  	</div>>



<p><%= link_to "Edit", edit_eatery_path %></p>
<p><%= link_to "Edit Eatery", edit_eatery_path %></p>
<p><%= link_to "Index", eateries_path %></p>
<p><%= link_to "Delete", @eatery, method: "delete" %></p>
