<div class="container-fluid main">
	<div class="row">
		<%= render "eateries/show" %>
	</div>
	<br/>


  <div> <%= link_to(new_favorite_path(@eatery)) do %>
      <span class="glyphicon glyphicon-heart"></span>
    <% end %>
  </div>


<p><%= link_to "Edit Eatery", edit_eatery_path %></p>
<p><%= link_to "Show All Eateries", eateries_path %></p>
<p><%= link_to "Delete Eatery", @eatery, method: "delete" %></p>

	

</div>