<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :lat_long %><br>
    <%= f.text_field :lat_long %>
  </div>
  <div class="field">
    <%= f.label :phone_num %><br>
    <%= f.number_field :phone_num %>
  </div>
  <div class="field">
    <%= f.label :hours %><br>
    <%= f.text_field :hours %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :type_food %><br>
    <%= f.text_field :type_food %>
  </div>
  <div class="field">
    <%= f.label :drive_thru %><br>
    <%= f.check_box :drive_thru %>
  </div>
  <div class="field">
    <%= f.label :delivery %><br>
    <%= f.check_box :delivery %>
  </div>
  <div class="field">
    <%= f.label :market %><br>
    <%= f.check_box :market %>
  </div>
  <div class="field">
    <%= f.label :reviews %><br>
    <%= f.text_field :reviews %>
  </div>
  <div class="field">
    <%= f.label :pop_items %><br>
    <%= f.text_field :pop_items %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
