<!DOCTYPE html>
<html>
 
<head>
  <title>Midnight Munchies</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'data-turbolinks-track' => true %>
<%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>


	<!-- Start Bootstrap Nav Bar -->
	<div id="nav">
		<nav class="navbar navbar-default" role="navigation">
		  	<div class="container-fluid">

		  		<div class="navbar logos"> 
		  			<%= link_to(eateries_path) do %>
  						<%= image_tag("https://s3.amazonaws.com/uploads.hipchat.com/140618/1019233/tqhnDjPhsOFYT8G/Logo_Big.png", height: '100%') %>
						<img class="settings" src="https://cdn3.iconfinder.com/data/icons/setting/100/settings_gear_1-512.png"/>
					<% end %>	
					<%= link_to "idnight Munchies", eateries_path %>
				</div>

			</div><!-- end div.container-fluid -->
		</nav>
	</div>
	<!-- End Bootstrap Nav Bar -->

		<div class="page-wrap">
			<div class="space"></div>
			<%= yield %>
		</div>

		
		<footer class="site-footer col-xs-12 col-sm-12 col-md-12 col-lg-12">
		</footer>


</body>

</html>
